In [1]:
import pandas as pd
import pandas_datareader as pdr

In [6]:
pmi = pdr.DataReader('ISM/MAN_PMI', data_source='quandl', start='1948-01-01', api_key='rz7xyB845FPbzgMAwyg-')
pmi.sort_index(inplace=True)
pmi['Change'] = pmi['PMI'].diff()
pmi['% Change'] = pmi['PMI'].pct_change()
pmi

             PMI  Change  % Change
Date
1948-01-01  51.7     NaN       NaN
1948-02-01  50.2    -1.5 -0.029014
1948-03-01  43.3    -6.9 -0.137450
1948-04-01  45.4     2.1  0.048499
1948-05-01  49.5     4.1  0.090308
...          ...     ...       ...
2020-02-01  50.1    -0.8 -0.015717
2020-03-01  49.1    -1.0 -0.019960
2020-04-01  41.5    -7.6 -0.154786
2020-05-01  43.1     1.6  0.038554
2020-06-01  52.6     9.5  0.220418

[870 rows x 3 columns]

In [9]:
nmi = pdr.DataReader('ISM/NONMAN_NMI', data_source='quandl', start='2008-01-01', api_key='rz7xyB845FPbzgMAwyg-')
nmi.sort_index(inplace=True)
nmi['Change'] = nmi['Index'].diff()
nmi['% Change'] = nmi['Index'].pct_change()
nmi

            Index  Change  % Change
Date
2008-01-01   45.0     NaN       NaN
2008-02-01   49.9     4.9  0.108889
2008-03-01   49.4    -0.5 -0.010020
2008-04-01   51.8     2.4  0.048583
2008-05-01   51.4    -0.4 -0.007722
...           ...     ...       ...
2020-02-01   57.3     1.8  0.032432
2020-03-01   52.5    -4.8 -0.083770
2020-04-01   41.8   -10.7 -0.203810
2020-05-01   45.4     3.6  0.086124
2020-06-01   57.1    11.7  0.257709

[150 rows x 3 columns]