In [1]:
import pandas as pd
import pandas_datareader as pdr

In [10]:
real_gdp = pdr.DataReader('GDPC1', data_source='fred', start='1954-07-01')
real_gdp['Change'] = real_gdp['GDPC1'].diff()
real_gdp['% Change'] = real_gdp['GDPC1'].pct_change()
real_gdp['% Change Annualised'] = real_gdp['% Change'] * 4
real_gdp

                GDPC1    Change  % Change  % Change Annualised
DATE
1954-01-01   2649.755       NaN       NaN                  NaN
1954-04-01   2652.643     2.888  0.001090             0.004360
1954-07-01   2682.601    29.958  0.011294             0.045175
1954-10-01   2735.091    52.490  0.019567             0.078267
1955-01-01   2813.212    78.121  0.028562             0.114250
...               ...       ...       ...                  ...
2019-04-01  19020.599    70.252  0.003707             0.014829
2019-07-01  19141.744   121.145  0.006369             0.025477
2019-10-01  19253.959   112.215  0.005862             0.023449
2020-01-01  19010.848  -243.111 -0.012627            -0.050506
2020-04-01  17205.822 -1805.026 -0.094947            -0.379789

[266 rows x 4 columns]

In [13]:
fed_rate = pdr.DataReader('FEDFUNDS', data_source='fred', start='1954-01-01')
fed_rate['Rate'] = fed_rate['FEDFUNDS'] / 100
fed_rate['Change'] = fed_rate['FEDFUNDS'].diff()
fed_rate['% Change'] = fed_rate['FEDFUNDS'].pct_change()
fed_rate['Real GDP'] = real_gdp['% Change Annualised']
fed_rate.drop(columns=['FEDFUNDS'], inplace=True)

In [14]:
fed_rate

              Rate  Change  % Change  Real GDP
DATE
1954-07-01  0.0080     NaN       NaN  0.045175
1954-08-01  0.0122    0.42  0.525000       NaN
1954-09-01  0.0107   -0.15 -0.122951       NaN
1954-10-01  0.0085   -0.22 -0.205607  0.078267
1954-11-01  0.0083   -0.02 -0.023529       NaN
...            ...     ...       ...       ...
2020-02-01  0.0158    0.03  0.019355       NaN
2020-03-01  0.0065   -0.93 -0.588608       NaN
2020-04-01  0.0005   -0.60 -0.923077 -0.379789
2020-05-01  0.0005    0.00  0.000000       NaN
2020-06-01  0.0008    0.03  0.600000       NaN

[792 rows x 4 columns]